<a href="https://colab.research.google.com/github/vaniseth/Machine-Learning-Python-/blob/main/NUMPY_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Q1 Install Numpy
!pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.21.5)

In [ ]:
import numpy as np

In [ ]:
# Q2 Check the Numpy version installed
np.__version__

'1.21.5'

In [ ]:
# Q3 Create a 1-D array in numpy
arr = np.array([1,2,3,4])

In [ ]:
#Q4 Use list to create 1D array (you may specify data type i.e. dtype = 'int16)
lst = [1,2,3,4]
arr = np.array(lst, dtype = 'int16')
print(arr)

[1 2 3 4]

In [ ]:
#Q5 Use tuple to create 1D array
tup = (1,2,3,4)
arr = np.array(tup)
print(arr)

[1 2 3 4]

In [ ]:
#Q6 Use arrange function to create 1D array of int
print(np.arange(1,50,3))

[ 1  4  7 10 13 16 19 22 25 28 31 34 37 40 43 46 49]

In [ ]:
#Q7 Use arrange function to create 1D array of float
print(np.arange(1,2,0.1))

[1.  1.1 1.2 1.3 1.4 1.5 1.6 1.7 1.8 1.9]

In [ ]:
#Q8 Create 1D array of mixed elements int and float, and print the array and see the output
lst = [1, 2.4, 3, 4.5]
print(np.array(lst))

[1.  2.4 3.  4.5]

In [ ]:
#Q9 Create 1D array of mixed elements int, float, and str, then print the array and see the output.
lst = [1,2.6,5,6.8, 'vaani']
print(np.array(lst))

['1' '2.6' '5' '6.8' 'vaani']

In [ ]:
#Q10 Create 2D array of dimensions 2x2
arr = np.array([[1,2],[3,4]])
arr

array([[1, 2],
       [3, 4]])

In [ ]:
#Q11 Print the shape , size and memory used by this array in bytes (use itemsize, or nbytes)
arr = np.array([[1,2],[3,4]])
print(arr)
print(arr.shape)
print(arr.itemsize)
print(arr.nbytes)

[[1 2]
 [3 4]]
(2, 2)
8
32

In [ ]:
#Q12 Check the type of any array variable
arr = np.array([[1,2],[3,4]])
print(type(arr))

<class 'numpy.ndarray'>

In [ ]:
#Q13 Check indexing on array wiht the help of exampples
arr = np.array([[1,2,3],[4,5,6],[6,7,8]])
print(arr)

r1 = arr[:1]
r1

[[1 2 3]
 [4 5 6]
 [6 7 8]]

array([[1, 2, 3]])

In [ ]:
r2 = arr[:2]
r2

array([[1, 2, 3],
       [4, 5, 6]])

In [ ]:
r3 = arr[:3]
r3

array([[1, 2, 3],
       [4, 5, 6],
       [6, 7, 8]])

In [ ]:
#Q14 Using arange fucntion create an 3D array of dimensions = (2,3,4), first element if this array is 0
# and last element id 23 in increasing order, store this array in a variable b.
a = np.arange(0,24)
b= a.reshape(2,3,4)
b

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11]],

       [[12, 13, 14, 15],
        [16, 17, 18, 19],
        [20, 21, 22, 23]]])

In [ ]:
#Q15 What index can produce this output:
#array([[ 0, 1, 2, 3],
# [ 4, 5, 6, 7],
# [ 8, 9, 10, 11]])

b[0]

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [ ]:
#Q16 What index can produce output: 0
b[0,0,0]

0

In [ ]:
#Q17 What index can produce output: array([4,5,6,7])
b[0,1]

array([4, 5, 6, 7])

In [ ]:
#Q18 What index can produce output: array([0,12])
b[:,0,0]

array([ 0, 12])

In [ ]:
# b= a[:,0]
# now let say this is b, now we want the first elements of that so we do a[:,0,0]

In [ ]:
#Q19 What index cna produce output: array([4,6])
b

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11]],

       [[12, 13, 14, 15],
        [16, 17, 18, 19],
        [20, 21, 22, 23]]])

In [ ]:
b[0,1,0:3:2]

array([4, 6])

In [ ]:
#Q20 Check the output of b[... , 1]
b[... , 1]

array([[ 1,  5,  9],
       [13, 17, 21]])

In [ ]:
#Q21 What indexcan produce output: array ([1,5,9])
b[0][... , 1]

NameError: ignored

In [ ]:
#Q22
a[0,1,0:3:2]

array([4, 6])

In [ ]:
#Q23
b[0,[0,2],3]

array([ 3, 11])

In [ ]:
#Q24
b[0,:,-2]

array([ 2,  6, 10])

In [ ]:
#Q25 Use function ravel() with array b, and observe the output
b.ravel()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23])

In [ ]:
#Q26 Use function flatten() with array b, and observe the output
b.flatten()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23])

In [ ]:
#Q27 Use function transpose() with array b, check the output 
b.transpose()

array([[[ 0, 12],
        [ 4, 16],
        [ 8, 20]],

       [[ 1, 13],
        [ 5, 17],
        [ 9, 21]],

       [[ 2, 14],
        [ 6, 18],
        [10, 22]],

       [[ 3, 15],
        [ 7, 19],
        [11, 23]]])

In [ ]:
#Q28 Use function T() with array b, check the output
b.T

array([[[ 0, 12],
        [ 4, 16],
        [ 8, 20]],

       [[ 1, 13],
        [ 5, 17],
        [ 9, 21]],

       [[ 2, 14],
        [ 6, 18],
        [10, 22]],

       [[ 3, 15],
        [ 7, 19],
        [11, 23]]])

In [ ]:
#Q29 Use function concatenate on two arrays with axis 0, and axis 1 and observe the output:
# i.e np.concatenate((arr1,arr2),axis=0) & np.concatenate((arr1,arr2),axis=1)
arr1 = np.array([0,10])
arr2 = np.array([20,30])
np.concatenate((arr1,arr2), axis=0)

array([ 0, 10, 20, 30])

In [ ]:
#Q30 Use function astype() to convert the array to an array on another type
# A=array([[0, 1], [2, 3],[4, 5]])
# A.astype(float) or A.astype(‘f’) or A.astype(‘float64’)
# A.astype(bool) 
A = np.array([[0,1],[2,3],[4,5]])
print(A.astype(float))
print(A.astype(bool))

[[0. 1.]
 [2. 3.]
 [4. 5.]]
[[False  True]
 [ True  True]
 [ True  True]]

In [ ]:
#Q31 Check the output of “ np.eye(3)” and “np.zeros(3)” 
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [ ]:
np.zeros(3)

array([0., 0., 0.])

In [ ]:
#Q32 Find minimum, maximum, and average of an array
print(A.min(), A.max(), A.sum()/len(A))

0 5 5.0

In [ ]:
#Q33 Find matrix multiplication user dot function 
arr1 = np.array([[0,5],[5,10]])
arr2 = np.array([[20,25],[25,30]])
arr1.dot(arr2)

array([[125, 150],
       [350, 425]])

In [ ]:
#Q34 Find element wise multiplication of two matrices using multiply function
np.multiply(arr1,arr2)

array([[  0, 125],
       [125, 300]])

In [ ]:
#35 Check sctypeDict.keys() and note down the info which you understand properly. 
np.sctypeDict.keys()

dict_keys(['?', 0, 'byte', 'b', 1, 'ubyte', 'B', 2, 'short', 'h', 3, 'ushort', 'H', 4, 'i', 5, 'uint', 'I', 6, 'intp', 'p', 7, 'uintp', 'P', 8, 'long', 'l', 'L', 'longlong', 'q', 9, 'ulonglong', 'Q', 10, 'half', 'e', 23, 'f', 11, 'double', 'd', 12, 'longdouble', 'g', 13, 'cfloat', 'F', 14, 'cdouble', 'D', 15, 'clongdouble', 'G', 16, 'O', 17, 'S', 18, 'unicode', 'U', 19, 'void', 'V', 20, 'M', 21, 'm', 22, 'bool8', 'b1', 'int64', 'i8', 'uint64', 'u8', 'float16', 'f2', 'float32', 'f4', 'float64', 'f8', 'float128', 'f16', 'complex64', 'c8', 'complex128', 'c16', 'complex256', 'c32', 'object0', 'bytes0', 'str0', 'void0', 'datetime64', 'M8', 'timedelta64', 'm8', 'Bytes0', 'Datetime64', 'Str0', 'Uint64', 'int32', 'i4', 'uint32', 'u4', 'int16', 'i2', 'uint16', 'u2', 'int8', 'i1', 'uint8', 'u1', 'complex_', 'int0', 'uint0', 'single', 'csingle', 'singlecomplex', 'float_', 'intc', 'uintc', 'int_', 'longfloat', 'clongfloat', 'longcomplex', 'bool_', 'bytes_', 'string_', 'str_', 'unicode_', 'object_', 'int', 'float', 'complex', 'bool', 'object', 'str', 'bytes', 'a'])

In [ ]:
#36 Create a new dtype
record = np.dtype([('name', str,40), ('np_of_items', int), ('price', float)])
record

dtype([('name', '<U40'), ('np_of_items', '<i8'), ('price', '<f8')])

In [ ]:
#Q37 Store record type values in variable items, 
items =np.array([('life of dvd',42,30.50),('Butter',10,22.75)], dtype=record)
items

array([('life of dvd', 42, 30.5 ), ('Butter', 10, 22.75)],
      dtype=[('name', '<U40'), ('np_of_items', '<i8'), ('price', '<f8')])

Observing the behaviour of the following functions 
.

In [ ]:
trr = np.arange(1,4)
trr

array([1, 2, 3])

In [ ]:
grr = np.arange(1,10).reshape(3,3)
grr

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [ ]:
np.dot(trr,grr)

array([30, 36, 42])

In [ ]:
np.cross(trr,grr)

array([[ 0,  0,  0],
       [-3,  6, -3],
       [-6, 12, -6]])

In [ ]:
np.multiply(trr,grr)

array([[ 1,  4,  9],
       [ 4, 10, 18],
       [ 7, 16, 27]])

In [ ]:
trr*grr

array([[ 1,  4,  9],
       [ 4, 10, 18],
       [ 7, 16, 27]])

In [ ]:
trr@grr

array([30, 36, 42])