<a href="https://colab.research.google.com/github/vaniseth/Machine-Learning-Python-/blob/main/pandas_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
from pandas import Series

In [ ]:
# Series in pandas is like a Coloumn in an excel sheet. 
# Collecetion of multiple series in pandas is called a "DATAFRAME", in excel collection of columns make a sheet.
# Collections of dataframes is called "PANEL", in excel collection of sheets is called a workbook.

In [ ]:
S1 = Series([1,2,3,4])
S1

0    1
1    2
2    3
3    4
dtype: int64

In [ ]:
# Here leftmost column is the index

In [ ]:
S1[0]

1

In [ ]:
S1[0:-1]

0    1
1    2
2    3
dtype: int64

In [ ]:
import numpy as np
arr1 = np.array([1,2,3.14,'a'])
arr1

array(['1', '2', '3.14', 'a'], dtype='<U32')

In [ ]:
S2 = Series([1,2,3.14,'a'])
S2

0       1
1       2
2    3.14
3       a
dtype: object

In [ ]:
# String in numpy and object in pandas is the same thing

In [ ]:
type(arr1[0])

numpy.str_

In [ ]:
type(S2[0])

int

In [ ]:
# in pandas it is not obvious if the datatype of the whole series is object/string then we cannot conclude that each element of the Pandas Series will be object.
# but in the case of numpy it converts the whole thing to the type of the last element.

In [ ]:
print(S1.sum())
print(S1.max())
print(S1.min())
print(S1.mean())

10
4
1
2.5

In [ ]:
S3 = Series([5,6,7,8], index = ['j', 'f', 'm', 'a'])
S3

j    5
f    6
m    7
a    8
dtype: int64

In [ ]:
print(S3['j'])
print(S3['a'])

5
8

In [ ]:
# checking if it works for a range of indexes
S3['j' : 'm']

# on checking we found out that it it inclusive of the last index

j    5
f    6
m    7
dtype: int64

In [ ]:
print(S1[1 : 3])
print(S3[1:3])

# in the numeric range/ default index Sereies is exclusive of the last index

1    2
2    3
dtype: int64
f    6
m    7
dtype: int64

In [ ]:
# runs made by Virat in the following years
Runs = Series([5000, 7000, 3000, 8000], index = [2004, 2005, 2006, 2007])
Runs

2004    5000
2005    7000
2006    3000
2007    8000
dtype: int64

In [ ]:
print(Runs.sum())
print(Runs.mean())

23000
5750.0

In [ ]:
Runs = Series([5000, 7000, 3000, 8000], index = [2004, 2005, 2006, 2007], name = 'Virat')
Runs

2004    5000
2005    7000
2006    3000
2007    8000
Name: Virat, dtype: int64

In [ ]:
Runs.reset_index()

# now this has become a dataframe

   index  Virat
0   2004   5000
1   2005   7000
2   2006   3000
3   2007   8000

In [ ]:
ViratK = Runs.reset_index()
ViratK

   index  Virat
0   2004   5000
1   2005   7000
2   2006   3000
3   2007   8000

In [ ]:
type(ViratK)

pandas.core.frame.DataFrame

In [ ]:
ViratK.drop('index', axis=1, inplace = True)

In [ ]:
# row axis = 0
# Column axis=1

In [ ]:
ViratK

   Virat
0   5000
1   7000
2   3000
3   8000