<a href="https://colab.research.google.com/github/vaniseth/Machine-Learning-Python-/blob/main/pandas_questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [2]:
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'1.3.5'

In [3]:
#Q1 Create a simple Pandas Series from a list.
ser = pd.Series([1,2,3,4])
ser

0    1
1    2
2    3
3    4
dtype: int64

In [4]:
#Q2 Return the first and last values of the Series created above
print(ser[0])
print(ser[3])

1
4

In [5]:
#Q3 Create a simple Pandas Series with your own labels i.e. index
info = np.array([1,2,3,4])
s = pd.Series(info, index = ['a', 'b', 'c', 'd'])
s

a    1
b    2
c    3
d    4
dtype: int64

In [6]:
#Q4 Access the values using your own index and print the value, also try â€“ve index.
print(s['a'])
print(s['c'])

1
3

In [7]:
#Q4 part 2
info2 = np.array(['a', 'b', 'c', 'd'])
S = pd.Series(info2, index = [1,2,3,4])
S

1    a
2    b
3    c
4    d
dtype: object

In [8]:
#Q5 Create a simple Pandas Series from a dictionary
dict = {1:'A', 2:'B', 3:'C', 4:'D'}
ser = pd.Series(dict)
ser

1    A
2    B
3    C
4    D
dtype: object

In [11]:
#Q6 Create a Series using only calories intake data from user defined indexes "day1","day2", and "day3".
Calories = pd.Series([350,500,700], index = ['day1', 'day2', 'day3'])
Calories

day1    350
day2    500
day3    700
dtype: int64

In [13]:
#Q7 Create a Series of heterogeneous data types and check the data type of the Series as well as individual
# items.
S = pd.Series([1,2,'a',3.14])
S

0       1
1       2
2       a
3    3.14
dtype: object

In [14]:
#Q7 part2
print(type(S[0]))
print(type(S[2]))
print(type(S[3]))

<class 'int'>
<class 'str'>
<class 'float'>

In [16]:
#Q8 Compute min, max, mean values of a Series
S1 = pd.Series([65,76,22,90,2])
print(S1.min())
print(S1.max())
print(S1.mean())

2
90
51.0

In [17]:
#Q9 Compute the relative change percentage in values of a Series.
S1=pd.Series([65,76,22,90,2])
print(S1.pct_change())

0         NaN
1    0.169231
2   -0.710526
3    3.090909
4   -0.977778
dtype: float64

In [19]:
# Q10. Add items in a Series from another Series.
S1 = pd.Series([1,2,3,4])
S2 = pd.Series([6,7,8,9])

S1 = S1.append(S2, ignore_index = True)
S1

0    1
1    2
2    3
3    4
4    6
5    7
6    8
7    9
dtype: int64

In [20]:
# Q11.Create a Series of 20 items and print first 5 and last 5 elements of this Series. (use head and tail)
S1 = pd.Series([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20])
print(S1.head(5), S1.tail(5))

0    1
1    2
2    3
3    4
4    5
dtype: int64 15    16
16    17
17    18
18    19
19    20
dtype: int64

In [28]:
# Q12.Assign new index to existing series.
s = pd.Series([1,2,3,4])
s.index = ['a','b','c','d']
s

a    1
b    2
c    3
d    4
dtype: int64

In [36]:
# Q13.Reset the index of an existing Series and delete the existing index.
s.reset_index()
s.drop(columns='index', axis=1, inplace = True)

In [8]:
# Q14.Sort the values of a Series in ascending and descending order and print
s1 = pd.Series([43,1,78,6,89])
s1.sort_values()

1     1
3     6
0    43
2    78
4    89
dtype: int64

In [9]:
print(s1.sort_values(ascending = False))

4    89
2    78
0    43
3     6
1     1
dtype: int64

In [10]:
#Q15 Print the number of occurrences of unique values in a series. (use value_counts)
s1.value_counts()

43    1
1     1
78    1
6     1
89    1
dtype: int64

In [14]:
s2 = pd.Series([1,2,1,3,2,5])
s2.value_counts()

1    2
2    2
3    1
5    1
dtype: int64

In [58]:
#Q16 Create a Series of 10 integers, and later change its dtype to float (use astype).
s3 = pd.Series([1,2,3,4,5,6,7,8,9,10])
s3

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [59]:
s3.astype(float)

0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
5     6.0
6     7.0
7     8.0
8     9.0
9    10.0
dtype: float64

In [60]:
#Q17 Convert the Sereis you created aboove to numpy array (use to_numpy(), or array)
s3.to_numpy()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [23]:
#Q18 Delete an item from Series using single index.
s4 = pd.Series([12,13,14,15])
s4.drop(index =1)

0    12
2    14
3    15
dtype: int64

In [26]:
#Q19 Find the number of items in a series. (use len or count)
s4.count()

4

In [27]:
#Q20 Append Series by assigning a value to a new index. (S[n]=v)
s4[4] = 19
s4

0    12
1    13
2    14
3    15
4    19
dtype: int64

In [33]:
#Q21 Check if a value is present in a Series. (Use type cast to a set or check in values)
12 in s4.values

True

In [35]:
#Q22 Print the index of a Series and also if all indexes appear only once. (use is_unique.)
print(s4.index)

Int64Index([0, 1, 2, 3, 4], dtype='int64')

In [37]:
#Q23 Create two Series one with default index, other with index like â€˜aâ€™,â€™bâ€™,â€™câ€™,â€™dâ€™, etc. then access both the
# Series based on label and position (use iloc for index position, and loc for index labels)
s5 = pd.Series([1,2,3,4])
s6 = pd.Series([10,11,12,13], index = ['a','b','c','d'])

In [48]:
s6.loc['a']

10

In [51]:
print(s6.loc['a'], s6.loc['c'])
print(s5.iloc[3], s5.iloc[0])

10 12
4 1

In [57]:
#Q24 Try function at and iat on above problem and observe the difference in output with respect to loc 
# and iloc.
print(s5.iat[2])
print(s6.at['b'])

3
11